<!DOCTYPE html>
{% if page.usemathjax %}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endif %}

<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
      {% if page.layout == "post" or page.url == "/" %}
      <div style="margin-top: 20px;">
        <img src="https://sezer-github.goatcounter.com/count?p={{ page.url | url_encode }}&t=visitors"
          alt="visitors counter" />
      </div>
      {% endif %}
    </div>
  </main>

  {%- include footer.html -%}

</body>

</html>