<!DOCTYPE html>
{% if page.usemathjax %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endif %}

<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {% if page.layout == "post" or page.url == "/" %}
      <img
        src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url={{ site.url }}{{ page.url | url_encode }}&count_bg=%237928CA&title_bg=%23555555&title=visitors%20since%20Aug%202026"
        alt="visitors counter" />
      {% endif %}
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}

</body>

</html>